.App {
  text-align: center;
}

h1, h2, h3, h4 {
  color: #f1c40f;
}

.main {
  background-color: #1abc9c;
  width: 80%;
  margin: auto;
  color: white;
}

.edit-form {
  background-color: snow;
  height: 25em;
  width: 40%;
  margin-left: 20%;
  top: 5em;
  position: absolute;
  z-index: 2;
}

.edit-form input {
  width: 90%;
}

.edit-form h2 {
  padding: .8em .4em;
}

.edit-form textarea, .edit-form input, .edit-form label {
  margin-left: .5em;
}

.edit-form label {
  display: block;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: bold;
  color: #f1c40f;
}

.edit-form button {
  display: inline;
}

.edit-form hr {
  margin-top: 3em;
  color: #CDCDCD;
  height: 1px;
}

.buttons-container {
  display: inline-block;
  float: right;
  position: relative;
  bottom: -.5em;
  right: 1em;
}
